.card {
    width: 48%;
    height: auto;
    box-sizing: border-box;
    border: 0.5px solid #97999B;
    border-radius: 12px;
    padding: 10px 8px;
}

.card img {
    width: 100%;
    border-radius: 12px;
}

.card-title-fovorite {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.card-title-fovorite h1 {
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #08003B;
}

.card-title-fovorite .faHeart {
    font-size: 14px;
    color: #FF0000;
}

.card-categories {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-top: 6px;
}

.card-categories .faPenToSquare {
    font-size: 14px;
    color: #08003B;
}

.card-categories h1 {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #08003B;
}

.card-free {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
}

.card-free .faUnlock {
    font-size: 14px;
    color: #4FC133;
}

.card-free h1 {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #4FC133;
}

.card-paid {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
}

.card-paid .faCrown {
    font-size: 14px;
    color: #FFBF00;
}

.card-paid h1 {
    font-family: 'SF Pro Text', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFBF00;
}

.card button {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 6px;
    padding: 6px;
    font-family: 'SF Pro Text', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
}